<!DOCTYPE html>
<html>
  <head>
    <title>Secure Cloud Storage</title>
  </head>
  <body style="text-align:center;">
    <div style="width:600px; margin:auto; padding:20px; border:1px solid gray; margin-top:50px;">
      <h1>🔐 Secure Cloud Storage ☁️</h1>
      <p>Securely upload, store, and manage your files.</p>

    {% if 'user' in session %}
    <p>Hello, {{ session['user'] }} 👋</p>

    <button onclick="window.location.href='/upload'">
    Upload Files
</button>

<br><br>

<button onclick="window.location.href='/files'">
    View Uploaded Files
</button>

<br><br>

<button onclick="window.location.href='/logout'">
    Logout
</button>

{% else %}
    <a href="/signup">Signup</a><br><br>
    <a href="/login">Login</a>
{% endif %}
    </div>
  </body>

</html>