<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Secure Cloud Storage</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  <body>

<nav>
    <h2>☁ Secure Cloud Storage</h2>

    <div>
        {% if 'user' in session %}
            <a href="/upload">Upload</a>
            <a href="/files">My Files</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        {% endif %}
    </div>
</nav>

<div class="container" style="width:700px;text-align:center;">

<h1>🔐 Secure Cloud Storage</h1>

<p style="margin:20px 0;color:gray;font-size:18px;">
Store, Encrypt and Manage your files securely.
</p>

{% if 'user' in session %}

<h3>Welcome, {{ session['user'] }} 👋</h3>

<br>

<a href="/upload" class="home-btn">Upload Files</a>

<a href="/files" class="home-btn">My Files</a>

{% else %}

<a href="/signup" class="home-btn">Get Started</a>

<a href="/login" class="home-btn">Login</a>

{% endif %}

</div>

<div class="footer">
© 2026 Secure Cloud Storage <br>
Developed by Anita Manjayya Naik
</div>

</body>

</html>